{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",

  "variables": {
  "storageAccountName": "[concat(uniquestring(resourceGroup().id), 'rhelvm')]",
    "adminUsername": "wfarnworth",
    "rhelOSVersion": "7.2",
    "sshKeyData": "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAgEA6wowCwNuYAXwcgNe4TBhIMA4ur13IaCnyH+Ms4NrbUTXzwHfBsHJ4U4tDeTvMygQhX+9fVVoX8gp+bhe+8qKRPmK1GV+KmpOjoE00ghW62QGCQgHXXsxRdkPjTk+Kr+ku8LFrV7R+kfTyGwLr3kjoqpHAbDmtb1Qcopa+l5m7uG2D+Pv58fEYlo4O2xoE9Tcea2i44EMT1GlxKt3JrS/8J4JXJp4wS263sPeEwVR/LYIC46TEWep75iNqvcROzZyGKIKjuFhMHrta7Zw89r7d0kEViGLyKGLoAbiegOloaFYMT7UNgX4HGXlUH7PSE58IVrgM69XDOyB/pYPF/DW+jTzyx3mb3GlxBB4KsKAAXQ4MpCl3VuwQS06C4CLHp7rLhX6VVESCWdqp0bL6cVc+yd3BS4Q1jR9b/vJ1Ct/ByJ1fnPYPPUhsU74ur7NcYWtcuXQW85d8GYYfZROZ9ub7MohqadyW3hCl2LLE6oxu/3nZmGqEMj0Wkxb/zGKAYUZP8jcDdDW7JedvHOyd1p/YLXhI9sn5D/Ix9lC7K5GhRxI+MUqDqZNHCRYoY03s/fFfGfPwwWwhFvxfc5HdfgVBg9kS+3zXP9ltPEgkMjXBg65K3aImPx5HrqlG0w39NJ0/XSrsUdPw9sX/3wym8q5youVscm4ptBXxXcYIeYMU7M= wfarnworth@sis.tv",
    "sshKeyPath": "[concat('/home/',variables('adminUserName'),'/.ssh/authorized_keys')]",
    "imagePublisher": "RedHat",
    "imageOffer": "RHEL",
    "OSDiskName": "[concat(variables('vmName'),'_OSDisk')]",
    "storageAccountType": "Standard_LRS",
    "vmStorageAccountContainerName": "vhds",
    "vmName": "createme",
    "vmSize": "Standard A1",
    "apiVersion": "2015-06-15",
    "nicName": "[concat(variables('vmName'), '_VMNic')]",
    "existingVirtualNetworkName": "vn-DevelopmentServices-dev",
    "existingVirtualNetworkResourceGroup": "rg-DevelopmentServices-dev-global",
    "subnetName": "sn-DevelopmentServices-dev-poc",
    "vnetID": "[resourceId(variables('existingVirtualNetworkResourceGroup'), 'Microsoft.Network/virtualNetworks', variables('existingVirtualNetworkName'))]",
    "subnetRef": "[concat(variables('vnetID'),'/subnets/',variables('subnetName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "name": "[variables('storageAccountName')]",
      "apiVersion": "[variables('apiVersion')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "accountType": "[variables('storageAccountType')]"
      }
    },
    {
      "apiVersion": "[variables('apiVersion')]",
      "type": "Microsoft.Network/networkInterfaces",
      "name": "[variables('nicName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "ipConfigurations": [
          {
            "name": "ipconfig1",
            "properties": {
              "privateIPAllocationMethod": "Dynamic",
              "subnet": {
                "id": "[variables('subnetRef')]"
              }
            }
          }
        ]
      }
    },
    {
      "apiVersion": "[variables('apiVersion')]",
      "type": "Microsoft.Compute/virtualMachines",
      "name": "[variables('vmName')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[concat('Microsoft.Storage/storageAccounts/', variables('storageAccountName'))]",
        "[concat('Microsoft.Network/networkInterfaces/', variables('nicName'))]"
      ],
      "properties": {
        "hardwareProfile": {
          "vmSize": "[variables('vmSize')]"
        },
        "osProfile": {
          "computerName": "[variables('vmName')]",
          "adminUsername": "[variables('adminUsername')]",
          "linuxConfiguration": {
            "disablePasswordAuthentication": "true",
            "ssh": {
              "publicKeys": [
                {
                  "path": "[variables('sshKeyPath')]",
                  "keyData": "[variables('sshKeyData')]"
                }
              ]
            }
		  }
        },
        "storageProfile": {
          "imageReference": {
            "publisher": "[variables('imagePublisher')]",
            "offer": "[variables('imageOffer')]",
            "sku": "[variables('rhelOSVersion')]",
            "version": "latest"
          },
          "osDisk": {
            "name": "osdisk",
            "vhd": {
              "uri": "[concat(reference(concat('Microsoft.Storage/storageAccounts/', variables('storageAccountName')), variables('apiVersion')).primaryEndpoints.blob, variables('vmStorageAccountContainerName'),'/',variables('OSDiskName'),'.vhd')]"
            },
            "caching": "ReadWrite",
            "createOption": "FromImage"
          },
        },
        "networkProfile": {
          "networkInterfaces": [
            {
              "id": "[resourceId('Microsoft.Network/networkInterfaces',variables('nicName'))]"
            }
          ]
        },
        "diagnosticsProfile": {
          "bootDiagnostics": {
            "enabled": "false",
            "storageUri": "[reference(concat('Microsoft.Storage/storageAccounts/', variables('storageAccountName')), variables('apiVersion')).primaryEndpoints.blob]"
          }
        }
      }
    }
  ]
}

